# TODO - Lock down dep. versions?
torch
torchvision
torchaudio
accelerate
peft
transformers
datasets
evaluate
bitsandbytes
loralib
rouge-score
tensorboard
py7zr
scipy
openpyxl
SentencePiece
tensorboardX
trl
huggingface_hub
requests

# Serve Dependencies
Flask
tiktoken